<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>430923831261-g5rn5jn6g8hv9qs4m45utmi72umckblp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430923831261-g5rn5jn6g8hv9qs4m45utmi72umckblp</string>
	<key>API_KEY</key>
	<string>AIzaSyDhCdEKnxqkyG8PZmyMENQolZfHVlMXBCs</string>
	<key>GCM_SENDER_ID</key>
	<string>430923831261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netflix</string>
	<key>PROJECT_ID</key>
	<string>flutter-getx-api</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-getx-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430923831261:ios:8401780b26835b248c4834</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-getx-api-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>